.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}

.footer-bottom  {
    background: none repeat scroll 0 0 #9999FF !important;
}
.header-middle {
  border-bottom: 1px solid #eeeeee;
}
.footer-format{
    line-height: 100px;
    font-size: 36px;
    
}
.form-contact-footer{
	display:flex;
	flex-direction:column;
}