<!-- Begin panel-->	
<div class="col-md-3">
	<div class="search-user">		
		<input type="search" class="form-control" id="search" placeholder="Search" style="clear: both; margin-bottom: 10px;">
	</div>
	<div class="panel-group" id="accordion" style="">
        <div class="panel panel-warning">
          	<div class="panel-heading">
            	<h4 class="panel-title">
             	 <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Day la collaps 1</a>
            	</h4>
          	</div>
          	<div id="collapse1" class="panel-collapse collapse in">
	            <div class="panel-body">Sublime Text 3 là một text editor khá mới, tuy miễn phí mà mạnh mẽ, hỗ trợ rất nhiều tính năng thú vị. Các điểm mạnh của Sublime Text có thể kể đến như: - Miễn phí (thực ra là bản unregistered, thỉnh thoảng hiện sẽ ra pop-up thông báo bạn đang dùng thử và nhắc bạn mua bản chính thức nhưng bạn có thể bỏ qua và tiếp tục sử dụng) - Nhẹ, khởi động nhanh, tốn ít tài nguyên
	            </div>
          	</div>
        </div>
        <div class="panel panel-warning">
          	<div class="panel-heading">
            	<h4 class="panel-title">
           	  	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Day la collaps 2</a>
            	</h4>
          	</div>
          	<div id="collapse2" class="panel-collapse collapse">
	            <div class="panel-body">Sublime Text 3 là một text editor khá mới, tuy miễn phí mà mạnh mẽ, hỗ trợ rất nhiều tính năng thú vị. Các điểm mạnh của Sublime Text có thể kể đến như: - Miễn phí (thực ra là bản unregistered, thỉnh thoảng hiện sẽ ra pop-up thông báo bạn đang dùng thử và nhắc bạn mua bản chính thức nhưng bạn có thể bỏ qua và tiếp tục sử dụng) - Nhẹ, khởi động nhanh, tốn ít tài nguyên
	            </div>
          	</div>
        </div>
        <div class="panel panel-warning">
          	<div class="panel-heading">
            	<h4 class="panel-title">
              	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Day la Collaps 3</a>
            	</h4>
          	</div>
          	<div id="collapse3" class="panel-collapse collapse">
	            <div class="panel-body">
	            	<ul>
	            		<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
						<li class="page-header">
							<a href="#">Đây là một post</a>
						</li>
	            	</ul>
	            </div>
	        </div>
        </div>
    </div>
</div>
<!-- End panel-->	